body{
	background-color: rgb(255,255,250);
	font-family: 'Roboto', sans-serif;
}




#breadcrumbs-four{
 overflow: hidden;
 width: 100%;
 }
 
#breadcrumbs-four li{
 float: left;
 margin: 0 .5em 0 1em;
 }
 
#breadcrumbs-four a{
 background: #ddd;
 padding: .7em 1em;
 float: left;
 text-decoration: none;
 color: #444;
 text-shadow: 0 1px 0 rgba(255,255,255,.5);
 position: relative;
 }
 
#breadcrumbs-four a:hover{
 background: #efc9ab;
 }
 
#breadcrumbs-four a::before,
 #breadcrumbs-four a::after{
 content:'';
 position:absolute;
 top: 0;
 bottom: 0;
 width: 1em;
 background: #ddd;
 transform: skew(-10deg);
 }
 
#breadcrumbs-four a::before{
 
left: -.5em;
 border-radius: 5px 0 0 5px;
 }
 
#breadcrumbs-four a:hover::before{
 background: #efc9ab;
 }
 
#breadcrumbs-four a::after{
 right: -.5em;
 border-radius: 0 5px 5px 0;
 }
 
#breadcrumbs-four a:hover::after{
 background: #efc9ab;
 }
 
#breadcrumbs-four .current,
 #breadcrumbs-four .current:hover{
 font-weight: bold;
 background: none;
 }
 
#breadcrumbs-four .current::after,
 #breadcrumbs-four .current::before{
 content: normal;
 }




#tel{	
	text-decoration: none;
 	text-align: center;
 	color: #000;
 }
.tel{
	grid-area: tel;
	/*align-items: center;*/
	justify-content: center;
}

.tel:before{
	content: '\260E';
}
.tel::before{
	content: '\260E';
}

#tel:hover{
 	color: rgb(255,30,50);
 	font-size: 1.2em;
 }

#tel::hover{
 	color: rgb(255,30,50);
 	font-size: 1.2em;

 }


#oplata{	
	grid-area: oplata; 
	/*justify-content: center;	*/
}
.breadcrunbs{
	grid-area: bread;
	/*align-items: center;*/
	
}

.header{
	align-items: center;
	justify-items: center;
	margin: 5px;
	grid-gap: 10px;
	display: grid;
	grid-area: head;
	background-color: rgb(254,222,94); 
	border-radius: 1em;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-areas: 
		"bread tel oplata"
}

div#logo{
	grid-area: logo;
}
.cars{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	background-color: rgba(254,222,94, 0.5);
	border-radius: 1em;
	margin: 5px;
	padding: 5px;

}


@media (max-width: 640px){
.header{
	display: grid;
	grid-gap: 10px;
	grid-area: head;
	justify-content: center;
	background-color: rgb(254,222,94); 
	border-radius: 1em;
	grid-template-columns: 1fr;
	grid-template-areas: 
		"bread"
		"tel"
		"oplata"
}
}

@media (max-width: 640px){
.cars{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	background-color: rgba(254,222,94, 0.5);
	border-radius: 1em;

	padding: 5px;

}
}
.footer{
	grid-area: footter;
	background-color: rgb(40,41,35);
	}

.alfa-romeo{
	background-color: rgba(254,222,94, 0.5);
	border-radius: 1em;
	margin: 5px;
	padding: 5px;

}

#battery{
	text-decoration: none;
	color: #000;
}

#battery:hover{
	text-decoration: underline;
	color: rgb(35,60,255);
}
#battery::hover{
	text-decoration: underline;
	color: rgb(35,60,255);
}
#alfa-romeo{
	position: relative;
	left: 20px;
}
#list{
	font-weight: bold;
}
#list:before{
	content: '\27A5';
}
#battery{
	position: relative;
	left: 40px;
}

.grid{
	display: box;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"head"
	"cars"
	"footter"
}


@media (max-width: 640px){
.grid{
	display: box;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"head"
	"cars"
	"footter"
}
}
#footer{
		color: rgb(255,245,250);
}

#copyright{
	
	font-size: 0.7em;
}

#ft{
	text-decoration: none;
	color: rgb(255,245,250);
}

div.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
}